*{box-sizing:border-box}

body{margin:0}
footer,header,nav{display:block}
a{background-color:transparent}
a:active,a:hover{outline:0}
b{font-weight:bold}
button,input,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}button{text-transform:none}
button,html input[type=button],input[type=submit]{cursor:pointer}
button[disabled],html input[disabled]{cursor:default}

textarea{overflow:auto}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
h1,h2,h3,h4,h5{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
h1 a,h2 a,h3 a,h4 a,h5 a{font-weight:inherit}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
a{color:inherit}
.hw1-btn{border:none;display:inline-block;outline:0;padding:6px 16px;
vertical-align:middle;overflow:hidden;text-decoration:none !important;
color:#fff;background-color:#000;text-align:center;transition:.2s ease-out;cursor:pointer;white-space:nowrap}

.hw1-btn-floating:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

.hw1-btn-floating{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;transition:.3s;cursor:pointer;font-size:24px}
.hw1-btn-floating{width:40px;height:40px;line-height:40px}

.hw1-topnav{padding:8px 8px}
.hw1-topnav a{text-decoration:none !important}
.hw1-topnav a{padding:0 8px;border-bottom:3px solid transparent;transition:all 0.3s ease}
.hw1-topnav a:hover{border-bottom:3px solid #fff}
.hw1-topnav {border-bottom:0}

.hw1-container:after,.hw1-row-padding:after,.hw1-topnav:after{content:"";display:table;clear:both}

.hw1-half{float:left;width:100%}
.hw1-half{width:99.99999%}
@media only screen and (min-width:601px){
.hw1-half{width:49.99999%}
}
@media only screen and (min-width:993px){
.hw1-half{width:49.99999%}
}
@media screen and (max-width:601px){.hw1-topnav a{display:block}}	
@media screen and (max-width:601px){.hw1-topnav {position:relative}}	
@media screen and (max-width:601px){.hw1-topnav{text-align:center}}
.hw1-large{font-size:18px !important}
.hw1-jumbo{font-size:64px !important}
.hw1-center{text-align:center !important}
.hw1-margin-bottom{margin-bottom:16px !important}
.hw1-padding-64{padding-top:64px !important;padding-bottom:64px !important}
.hw1-container{padding:0.01em 16px}
.hw1-green{color:#fff !important;background-color:#4CAF50 !important}
.hw1-text-light-grey{color:#f1f1f1 !important}.hw1-light-grey{color:#000;background-color:#f1f1f1 !important}
#a1{text-decoration:none !important}
#a2{text-decoration:none !important}